/* Layout.module.css */

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #FFFFFF;
    color: #f2f2f2;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
    margin-left: 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #f2f2f2;
    text-decoration: none;
}

.headerTitle {
    margin-left: 12px;
    font-weight: 600;
}

.headerRightText {
    font-weight: normal;
    margin-left: 40px;
    color:  #002f87;
}

/* Add the following styles for the main content */

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    text-align: center;
}

.logoContainer {
    margin-bottom: 40px;
}

.companyLogo {
    max-width: 150px;
    width: 100%;
    height: auto;
    background-color: transparent;
}

.examplesSection {
    width: 100%;
    max-width: 800px; /* Adjust the width as needed */
}

.examplesSection h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.examplesGrid {
    display: flex;
    flex-direction: row; /* Change to row for horizontal layout */
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    padding: 20px;
}

.exampleBubble {
    background-color: #fff;
    border-radius: 12px;
    padding: 16px 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 200px;
    text-align: center;
}

.exampleText {
    margin: 0;
    font-size: 16px;
    color: #333;
}
